{
  "swagger": "2.0",
  "info": {
    "description": "Docuemntación del api places node + express",
    "version": "1.0.0",
    "title": "node-api-places"
  },
  "host": "node-api-places.w3ya.com",
  "tags": [
    {
      "name": "Places",
      "description": "Endpoints para plazas"
    },
    {
      "name": "Auth",
      "description": "Endpoints para autenticación"
    }
  ],
  "paths": {
    "/places": {
      "get": {
        "tags": [
          "Places"
        ],
        "summary": "Listar las plazas publicadas",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Datos recuperados exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/places/{id}": {
      "get": {
        "tags": [
          "Places"
        ],
        "summary": "Mostrar detalle de una plaza",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id de la plaza",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos recuperados exitosamente"
          },
          "404": {
            "description": "No existen los datos que buscas"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/places/{id}/comments": {
      "get": {
        "tags": [
          "Places"
        ],
        "summary": "Mostrar comentarios de una plaza",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id de la plaza",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos recuperados exitosamente"
          },
          "404": {
            "description": "No existen los datos que buscas"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Places"
        ],
        "summary": "Crear comentarios de una plaza",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id de la plaza",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "201": {
            "description": "Datos recuperados exitosamente"
          },
          "401": {
            "description": "No tienes acceso a la información"
          },
          "403": {
            "description": "Error en envío de datos"
          },
          "404": {
            "description": "No existen los datos que buscas"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar sesión",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se ha creado la sesión exitosaente"
          },
          "403": {
            "description": "Error en envío de datos"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Registrarse",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Se ha registrado exitosamente"
          },
          "403": {
            "description": "Error en envío de datos"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Mostrar Perfil",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Se cargaron los datos exitosamente"
          },
          "401": {
            "description": "No tienes acceso a la información"
          },
          "404": {
            "description": "No existen los datos que buscas"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    }
  }
}